<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>New User Registration</title>
        
        <!-- TODO: validation:
                     email
                     valid password
                     passwords match -->
    </head>
    <body>
        <h1>Sign Up Now!</h1>
        
        <form action="#" th:action="@{/register}" th:object="${user}" method="post">
        
            <div>
              <label>Email Address :
                <input type="email" th:field="*{emailAddress}"/>
              </label>
            </div>
            
            <div>
              <label>Password :
                <input type="password" th:field="*{password}"/>
              </label>
            </div>
            
            <div>
              <label>Confirm Password :
                <input type="password" th:field="*{passwordConfirm}"/>
              </label>
            </div>
            
            <input type="submit" value="Sign Up"/>
            
        </form>
    </body>
</html>